@import url(//dablulite.github.io/css-snippets/PrettyFolderIcons/import.css);
@import url(//dablulite.github.io/css-snippets/TogglesV2/import.css);
@import url(//dablulite.github.io/css-snippets/BetterModals/import.css);
@import url('https://discordstyles.github.io/HorizontalServerList/resizablelist.css');
@import url(https://davart154.github.io/Themes/Snippets/Fake%20Avatar%20Decos/Fake%20Decos%20Source.css);
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css");
@import url(https://minidiscordthemes.github.io/Snippets/HideAKA/HideAKA-blur.css);
@import url(//dablulite.github.io/css-snippets/BetterFloatingEditor/import.css);
@import url(https://nikospepponis.github.io/Icons/icons.theme.css);
/* FONTS */
@import url("https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/DiscordFont.css");
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Griffy&family=Henny+Penny&family=Indie+Flower&family=Jua&family=Libre+Barcode+128+Text&family=Monoton&family=Nabla&family=Poiret+One&family=Roboto:wght@500&family=Signika+Negative:wght@500&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito");
/* den xero ti einai */
.avatar-2e8lTP[src*="193188089756123136"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="596812194906374167"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="281376608038813696"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="269939624401436672"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="272440514400354305"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="409639495030538250"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="303880582331629569"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="562386647828791311"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="442661470770167838"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="394804652064899072"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="148883925270396929"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="233787027517210624"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="751092600890458203"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="289782983357890571"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="478881945020006402"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="118830296350064641"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="421890156686213120"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="285902386701271050"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="429013973501870100"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="17274395410169856"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="516246121002303489"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="705306248538488947"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="522953162748067840"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="936723624180727888"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="444254890563338241"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="188323207793606656"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="833806840257052753"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="349133614849458177"] + h3 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="486463991586095104"] + h3 .username-h_Y3Us::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  bottom: 2px;
  right: -26px;
  background: url("https://cdn.discordapp.com/emojis/813060332704366642.png?v=1") no-repeat;
  background-size: 100%;
  border-radius: 0 5px 0 0;
  pointer-events: none;
}
.avatar-2e8lTP[src*="193188089756123136"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="596812194906374167"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="281376608038813696"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="269939624401436672"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="272440514400354305"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="409639495030538250"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="303880582331629569"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="562386647828791311"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="442661470770167838"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="394804652064899072"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="148883925270396929"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="233787027517210624"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="751092600890458203"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="289782983357890571"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="478881945020006402"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="118830296350064641"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="421890156686213120"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="285902386701271050"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="429013973501870100"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="17274395410169856"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="516246121002303489"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="705306248538488947"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="522953162748067840"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="936723624180727888"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="444254890563338241"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="188323207793606656"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="833806840257052753"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="349133614849458177"] + h3 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="486463991586095104"] + h3 .timestamp-p1Df1m {
  margin-left: 30px;
}

.avatar-2e8lTP[src*="193188089756123136"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine 10s linear infinite;
  background-image: linear-gradient(-60deg, #000000 0%, #ffffff 50%, #000000 100%);
}

.avatar-2e8lTP[src*="281376608038813696"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine 10s linear infinite;
  background-image: linear-gradient(-60deg, #1a8ce9 40%, #0b304e 80%, #1a8ce9 100%);
}

.avatar-2e8lTP[src*="596812194906374167"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine 10s linear infinite;
  background-image: linear-gradient(90deg, rgb(97, 0, 25) 0%, rgb(255, 0, 65) 50%, rgb(97, 0, 25) 100%);
}

.avatar-2e8lTP[src*="269939624401436672"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine 10s linear infinite;
  background-image: linear-gradient(-60deg, #360167, #6b0772, #af1281, #cf268a, #af1281, #6b0772, #360167);
}

.avatar-2e8lTP[src*="272440514400354305"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine 10s linear infinite;
  background-image: linear-gradient(-60deg, #fdc7c5 0%, #fec4df 10%, #efc8f3 20%, #d2d0fc 30%, #b0daf6 40%, #9ae1e3 50%, #9fe2c9 60%, #b8dfb2 70%, #d6d8a7 80%, #efcfaf 90%, #fdc7c5 100%);
}

.avatar-2e8lTP[src*="409639495030538250"] + h3 .username-h_Y3Us,
.avatar-2e8lTP[src*="303880582331629569"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine 10s linear infinite;
  background-image: linear-gradient(-60deg, #5bcefa 20%, #f5a9b8 20%, 40%, #ffffff 40%, 60%, #f5a9b8 60%, 80%, #5bcefa 80%);
}

.avatar-2e8lTP[src*="562386647828791311"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine 10s linear infinite;
  background-image: linear-gradient(56deg, rgb(223, 193, 63) 0%, rgb(246, 57, 57) 33%, rgb(62, 9, 157) 66%, rgb(223, 193, 63) 99%);
}

.avatar-2e8lTP[src*="442661470770167838"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine 10s linear infinite;
  background-image: linear-gradient(90deg, rgb(252, 178, 215) 0%, rgb(0, 0, 0) 50%, rgb(252, 178, 215) 100%);
}

.avatar-2e8lTP[src*="148883925270396929"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine 10s linear infinite;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 255) 25%, rgb(0, 0, 0) 50%, rgb(123, 0, 255) 75%, rgb(0, 0, 0) 100%);
}

.avatar-2e8lTP[src*="394804652064899072"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine 10s linear infinite;
  background-image: radial-gradient(circle, rgb(0, 203, 255) 0%, rgb(76, 196, 114) 12%, rgb(183, 171, 99) 30%, rgb(214, 165, 18) 51%, rgb(206, 32, 32) 70%, rgb(132, 7, 7) 100%);
}

.avatar-2e8lTP[src*="233787027517210624"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine 10s linear infinite;
  background-image: linear-gradient(90deg, rgb(242, 221, 136) 20%, rgb(0, 0, 0) 50%, rgb(242, 221, 136) 80%);
}

.avatar-2e8lTP[src*="751092600890458203"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine-reversed 10s linear infinite;
  background-image: linear-gradient(90deg, #d65e94 0%, #2ab5ea 50%, #d65e94 100%);
}

.avatar-2e8lTP[src*="289782983357890571"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine-reversed 10s linear infinite;
  background-image: linear-gradient(90deg, rgb(25, 25, 27) 0%, rgb(222, 175, 157) 33%, rgb(224, 231, 232) 66%, rgb(25, 25, 27) 100%);
}

.avatar-2e8lTP[src*="478881945020006402"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine-reversed 10s linear infinite;
  background-image: linear-gradient(90deg, rgb(25, 25, 27) 0%, rgb(222, 175, 157) 33%, rgb(235, 111, 146) 66%, rgb(25, 25, 27) 100%);
}

.avatar-2e8lTP[src*="118830296350064641"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine 10s linear infinite;
  background-image: linear-gradient(90deg, rgb(118, 240, 255) 0%, rgb(251, 213, 255) 30%, rgb(255, 255, 255) 50%, rgb(251, 213, 255) 70%, rgb(118, 240, 255) 100%);
}

.avatar-2e8lTP[src*="421890156686213120"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine 10s linear infinite;
  background-image: linear-gradient(90deg, rgb(225, 116, 139) 0%, rgb(234, 161, 166) 20%, rgb(230, 220, 237) 40%, rgb(227, 238, 248) 60%, rgb(232, 248, 235) 80%, rgb(225, 116, 139) 100%);
}

.avatar-2e8lTP[src*="285902386701271050"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine-reversed 5s linear infinite;
  background-image: linear-gradient(140deg, #95efeb 0%, #95beef 10%, #a095ef 20%, #d595ef 30%, #ef95d5 40%, #ef95a0 50%, #efbf95 60%, #eaef95 70%, #b6ef95 80%, #95efaa 90%, #95efeb 100%);
}

.avatar-2e8lTP[src*="429013973501870100"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine-reversed 5s linear infinite;
  background-image: linear-gradient(-60deg, rgb(91, 206, 250) 20%, rgb(245, 169, 184) 20%, 40%, rgb(255, 255, 255) 40%, 60%, rgb(245, 169, 184) 60%, 80%, rgb(91, 206, 250) 80%);
}

.avatar-2e8lTP[src*="317274395410169856"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine-reversed 5s linear infinite;
  background-image: linear-gradient(90deg, #fc00ff 0%, #00dbde 100%);
}

.avatar-2e8lTP[src*="516246121002303489"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine-reversed 5s linear infinite;
  background-image: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}

.avatar-2e8lTP[src*="705306248538488947"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine-reversed 5s linear infinite;
  background-image: linear-gradient(45deg, orange, yellow, green, blue, indigo, violet, red);
}

.avatar-2e8lTP[src*="717509908479868999"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine-reversed 5s linear infinite;
  background-image: radial-gradient(circle, rgb(1, 144, 249) 0%, rgb(253, 224, 45) 100%);
}

.avatar-2e8lTP[src*="522953162748067840"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine 5s linear infinite;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 6%, rgba(17, 91, 15, 0.9912280702) 48%, rgb(17, 176, 8) 83%);
}

.avatar-2e8lTP[src*="936723624180727888"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine-reversed 5s linear infinite;
  background-image: linear-gradient(90deg, rgb(55, 177, 218) 0%, rgb(146, 111, 210) 32%, rgb(181, 86, 207) 51%, rgb(203, 152, 127) 80%, rgb(204, 221, 59) 100%);
}

.avatar-2e8lTP[src*="444254890563338241"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine-reversed 5s linear infinite;
  background-image: linear-gradient(90deg, rgb(93, 164, 204) 0%, rgb(132, 208, 142) 19%, rgb(218, 139, 163) 40%, rgb(222, 159, 117) 59%, rgb(219, 88, 88) 79%, rgb(209, 154, 228) 100%);
}

.avatar-2e8lTP[src*="188323207793606656"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine-reversed 5s linear infinite;
  background-image: linear-gradient(90deg, rgb(216, 44, 1) 0%, rgb(241, 117, 44) 15%, rgb(255, 152, 91) 30%, rgb(255, 255, 255) 45%, rgb(209, 98, 163) 60%, rgb(183, 85, 145) 75%, rgb(166, 2, 96) 90%);
}

.avatar-2e8lTP[src*="833806840257052753"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine 5s linear infinite;
  background-image: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(61, 122, 234) 35%, rgb(81, 164, 165) 100%);
}

.avatar-2e8lTP[src*="486463991586095104"] + h3 .username-h_Y3Us {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  animation: shine 5s linear infinite;
  background-image: linear-gradient(90deg, rgb(182, 100, 255) 0%, rgb(170, 255, 203) 100%);
}

@keyframes shine {
  to {
    background-position: 300% center;
  }
}
@keyframes shine-reversed {
  to {
    background-position: -300% center;
  }
}
