@import url("//dablulite.github.io/css-snippets/TogglesV2/import.css");
@import url('https://discordstyles.github.io/HorizontalServerList/resizablelist.css');
@import url("//mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css");
@import url("//dablulite.github.io/css-snippets/BetterFloatingEditor/import.css");
/*
@import url("//feorev.github.io/Themes/Discord/PublicSnippets/ConnectionsColorizer.css");
*/
/*
@import url(https://nikospepponis.github.io/Icons/icons.theme.css);*/
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Courier+Prime&family=Indie+Flower&family=Merienda&family=Playpen+Sans&family=Poppins&family=Roboto&family=Signika+Negative&family=Yellowtail&display=swap');


/**
font-family: 'Caveat', cursive;
font-family: 'Courier Prime', monospace;
font-family: 'Indie Flower', cursive;
font-family: 'Merienda', cursive;
font-family: 'Playpen Sans', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Signika Negative', sans-serif;
font-family: 'Yellowtail', cursive;
*/
